body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Isso daqui só tá funcionando para as telas "públicas", mas o resto tá tudo ok */
:root {
  --background-color: #101414;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}