<h2 mat-dialog-title>Adicionar Venda</h2>

<mat-dialog-content>
  <div class="search-container">
    <mat-form-field appearance="fill" class="full-width">
      <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        placeholder="Nome ou código do produto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event)"
      >
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">
          <div class="option-container">
            <span class="product-name">{{ option.productName }}</span>
            <span class="product-price"
              >R$ {{ option.salePrice.toFixed(2) }}</span
            >
            <!-- <span class="product-price">{{ option.salePrice | currency:'BRL' }}</span> -->
          </div>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <div class="search-container-box">
      <span> Quant: {{ getTotalQuantity() }} </span>
      <span> Total: R$ {{ getTotalPrice().toFixed(2) }} </span>
    </div>
  </div>

  <mat-list>
    @for (item of selectedProducts; track $index) {
    <mat-list-item>
      <div class="list-item-content">
        <span class="product-info">
          {{ item.quantity }} - {{ item.product.productName }}
        </span>
        <div class="price-actions">
          <button mat-icon-button (click)="updateQuantity($index, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <span class="quantity-price"
            >{{ item.quantity }}x{{ item.product.salePrice.toFixed(2) }}</span
          >
          <button mat-icon-button (click)="updateQuantity($index, 1)">
            <mat-icon>add</mat-icon>
          </button>
          <span class="total-price">R$ {{ item.totalPrice.toFixed(2) }}</span>
          <button mat-button (click)="removeProduct($index)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    }
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="submitSale()" [disabled]="selectedProducts.length === 0" cdkFocusInitial>
    Adicionar
  </button>
</mat-dialog-actions>
