<div class="sales-header">
  <button mat-fab extended (click)="openAddSaleDialog()">
    <mat-icon>add</mat-icon>
    Adicionar Venda
  </button>
</div>
<div class="sales-container">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Definições de colunas... -->
    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalhes</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openMoreDialog(row.more)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-on-small">Data</th>
      <td mat-cell *matCellDef="let row" [innerHTML]="row.dateTime" class="hide-on-small"></td>
    </ng-container>    

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Itens</th>
      <td mat-cell *matCellDef="let row" [innerHTML]="row.item | replace:'\n':'<br>'"></td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
      <td mat-cell *matCellDef="let row">{{ row.subtotal + " R$" }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page">
  </mat-paginator>
</div>
