.statistics-container {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.statistics-header {
  display: flex;
  gap: 16px;
}

.statistic-card {
  max-width: 400px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.statistic-card:hover {
  background-color: #5c5c5c1e;
}

.graphs {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .statistic-card {
    margin-bottom: 20px;
  }
  mat-card-title, mat-card-subtitle {
    font-size: 12px;
  }
  .graphs {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 90%;
  }
}