<div class="mat-elevation-z2">
  <table
    mat-table
    [dataSource]="dataSource"
    class="full-width-table"
    matSort
    aria-label="Elements"
  >
    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalhes</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
      <td mat-cell *matCellDef="let row">{{ row.product }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      <!-- <td mat-cell *matCellDef="let row" [innerHTML]="row.quantity | replace:'\n':'<br>'"></td> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
