mat-dialog-actions {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}
h3 {
    font-weight: 500;
}

button.delete {
    color: rgb(165, 18, 18);
}
button.delete:hover {
    background-color: rgba(114, 13, 0, 0.5);
}

button.edit {
    color: rgb(189, 129, 1);
}

button.edit:hover {
    background-color: rgba(116, 79, 0, 0.5);
}