:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}

.form-products-container {
  max-width: 500px;
  margin: 20px auto 0;
  padding: 16px 16px 0; 
}

mat-tab-group {
  max-width: 800px;
  width: 100%;
  transform: translateY(20px);
}



.button-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .form-products-container {
    padding: 20px;
    margin: 10px auto 0;
  }
  :host {
    width: 90%;
  }

  mat-form-field {
    margin-bottom: 8px;
  }

  mat-tab-group {
    padding: 0 20px;
  }

  .button-container {
    margin-top: 16px;
  }

  ::ng-deep .mat-mdc-form-field {
    font-size: 14px;
  }

  button {
    height: 48px;
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .form-products-container {
    padding: 20px;
    margin: 1px auto 0;
  }
  :host {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 375px) {
  .form-products-container {
    padding: 20px;
    margin: 1px auto 0;
    overflow: overlay;
  }
  :host {
    width: 90%;
    height: 70%;
  }
  mat-form-field {
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 900px) {
  :host {
    height: 90%;
  }
}

@media screen and (max-height: 850px) {
  :host {
    height: 90%;
  }
}
@media screen and (max-height: 740px) {
  :host {
    height: 75%;
  }
}
@media screen and (max-height: 700px) {
  :host {
    height: 65%;
  }
}